.venv/
.env

__pycache__/
*.py[cod]

.pytest_cache/
.ruff_cache/

data/raw/*
data/processed/*
data/snapshots/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/snapshots/.gitkeep
!data/fastf1_cache/.gitkeep
!data/telemetry/.gitkeep

data/fastf1_cache/*
data/telemetry/*

